Repository yongwoon/nextjs-yongwoon-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, testing, config, dependencies, scripts, ci-cd, taskmaster, ai

supabase init
  supabase/.gitignore
  supabase/config.toml
Labels: none

update document
  .vscode/settings.json
  README.md
  TODO.md
  docs/setup/environment-setup.md
Labels: documentation

.cursor/rules/supabase.mdc
  .cursor/rules/supabase.mdc
Labels: none

supabase migration new content-tables
  supabase/migrations/20250530111412_content-tables.sql
Labels: none

Update .cursor/rules/supabase.mdc
  .cursor/rules/supabase.mdc
Labels: none

add schema to supabase (supabase db push)
  supabase/migrations/20250530111412_content-tables.sql
Labels: none

ADD: DROP statement
  docs/setup/database-schema.sql
  supabase/migrations/20250530111412_content-tables.sql
Labels: documentation

Table 재설계 & Apply RLS Policy
  docs/setup/database-schema.sql
  supabase/migrations/20250530121549_create-tables-only.sql
Labels: documentation

Update document
  .cursor/rules/supabase.mdc
  README.md
  docs/README.md
  docs/setup/environment-setup.md
  docs/setup/table-design-specification.md
Labels: documentation

Database Migration Scripts
  .github/workflows/supabase-deploy.yml
  README.md
  scripts/supabase-local-setup.sh
  supabase/README.md
  supabase/rollback.sql
  supabase/seed.sql
Labels: documentation, config, scripts, ci-cd

Add tasks
  .gitignore
  .taskmasterconfig
  tasks/task_001.txt
  tasks/task_002.txt
  tasks/task_003.txt
  tasks/task_004.txt
  tasks/task_005.txt
  tasks/task_006.txt
  tasks/task_007.txt
  tasks/task_008.txt
  tasks/task_009.txt
  tasks/task_010.txt
  tasks/task_011.txt
  tasks/task_012.txt
  tasks/task_013.txt
  tasks/task_014.txt
  tasks/task_015.txt
  tasks/tasks.json
  tasks/tasks.json.bak
Labels: config, taskmaster

Add Packages(@supabase/auth-helpers-nextjs, react-form-hook)
  .cursor/rules/package-management.mdc
  docs/project/installed-packages.md
  package.json
  pnpm-lock.yaml
  tasks/task_003.txt
  tasks/tasks.json
Labels: documentation, config, dependencies, taskmaster

ADD: signup component
  src/components/auth/sign-up-form/hooks/index.tsx
  src/components/auth/sign-up-form/index.tsx
Labels: frontend

DELETE: default file
  src/app/blog-posts/create/page.tsx
  src/app/blog-posts/edit/[id]/page.tsx
  src/app/blog-posts/layout.tsx
  src/app/blog-posts/page.tsx
  src/app/blog-posts/show/[id]/page.tsx
  src/app/categories/create/page.tsx
  src/app/categories/edit/[id]/page.tsx
  src/app/categories/layout.tsx
  src/app/categories/page.tsx
  src/app/forgot-password/page.tsx
  src/app/register/page.tsx
  src/components/auth-page/index.tsx
  src/components/menu/index.tsx
Labels: frontend

delete package related refine
  package.json
  pnpm-lock.yaml
Labels: config, dependencies

update codes after delete refine codes
  .cursor/rules/file-location.mdc
  .cursor/rules/ui-logic-separation.mdc
  docs/architecture/directory-architecture.md
  src/app/categories/show/[id]/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/signup/page.tsx
  src/components/auth/login-form/hooks/index.tsx
  src/components/auth/login-form/index.tsx
  src/components/auth/sign-up-form/hooks/index.tsx
  src/components/layout/index.tsx
  src/providers/auth-provider/auth-provider.client.ts
  src/providers/auth-provider/auth-provider.server.ts
  src/providers/data-provider/index.ts
  src/providers/devtools/index.tsx
Labels: documentation, frontend, backend

fix type-check
  src/components/breadcrumb/index.tsx
  src/components/layout/index.tsx
  src/providers/auth-provider/auth-provider.client.ts
  src/providers/auth-provider/auth-provider.server.ts
Labels: frontend, backend

lint
  src/components/layout/index.tsx
Labels: frontend

lint
  package.json
  src/providers/auth-provider/auth-provider.client.ts
  tasks/tasks.json
Labels: backend, config, dependencies, taskmaster

ADD page design
  docs/page-designs/auth/01-anthropic-login.png
  docs/page-designs/auth/02-anthropic-email-format.png
  docs/page-designs/auth/03-01-anthropic-open-other-browers.png
  docs/page-designs/auth/03-anthropic-onboard.png
  docs/page-designs/auth/04-anthropic-plans.png
  docs/page-designs/auth/05-undestand-before-enter.png
  docs/page-designs/auth/06-enter-name.png
  docs/page-designs/auth/07-your-interest.png
  docs/page-designs/main/01-main-side-collapsed.png
  docs/page-designs/main/02-main-side-expanded.png
Labels: documentation, ai

ADD auth flow && create additional table
  docs/architecture/auth-flow.md
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/signup/page.tsx
  src/components/auth/login-form/index.tsx
  src/components/auth/sign-up-form/index.tsx
  supabase/migrations/20250531083953_add_auth_flow_tables.sql
Labels: documentation, frontend

lint
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/auth/login-form/hooks/index.tsx
  src/components/auth/sign-up-form/hooks/index.tsx
Labels: frontend

Update task list
  scripts/updated_prd.txt
  tasks/task_001.txt
  tasks/task_002.txt
  tasks/task_003.txt
  tasks/task_004.txt
  tasks/task_005.txt
  tasks/task_006.txt
  tasks/task_007.txt
  tasks/task_008.txt
  tasks/task_009.txt
  tasks/task_010.txt
  tasks/task_011.txt
  tasks/task_012.txt
  tasks/task_013.txt
  tasks/task_014.txt
  tasks/task_015.txt
  tasks/task_016.txt
  tasks/task_017.txt
  tasks/task_018.txt
  tasks/task_019.txt
  tasks/task_020.txt
  tasks/task_021.txt
  tasks/task_022.txt
  tasks/tasks.json
  tasks/tasks_backup_20250531_174735.json
Labels: scripts, taskmaster

Install Supabase Packages
  package.json
  pnpm-lock.yaml
  tasks/task_003.txt
  tasks/tasks.json
Labels: config, dependencies, taskmaster

Generate TypeScript types from Supabase database schema
  .env.example
  src/types/database.types.ts
  tasks/task_003.txt
  tasks/tasks.json
Labels: config, taskmaster

Create Supabase Client Configuration
  docs/project/installed-packages.md
  package.json
  pnpm-lock.yaml
  src/lib/supabase.ts
Labels: documentation, backend, config, dependencies

Refine 관련코드 삭제
  Dockerfile
  README.md
  docs/project/installed-packages.md
  docs/project/superplate.md
  docs/setup/docker-setup.md
  docs/upgrade-history/PNPM_MIGRATION.md
  package.json
  pnpm-lock.yaml
  scripts/prd.txt
  scripts/task-complexity-report.json
  src/app/layout.tsx
  src/components/auth/login-form/hooks/index.tsx
  src/providers/auth-provider/auth-provider.server.ts
  src/providers/data-provider/index.ts
  src/providers/devtools/index.tsx
  src/styles/global.css
  tasks/tasks.json.bak
  tasks/tasks_backup_20250531_174735.json
Labels: documentation, frontend, backend, config, dependencies, scripts, taskmaster

lint
  .prettierignore
  src/lib/supabase.ts
  tasks/tasks.json
Labels: backend, taskmaster

3.3 Supabase Client Configuration and Types
  docs/setup/supabase-client-configutation.md
  src/lib/supabase.ts
  tasks/task_003.txt
  tasks/tasks.json
Labels: documentation, backend, taskmaster

taskmaster migrate
  .taskmaster/config.json
  .taskmaster/docs/prd.txt
  .taskmaster/docs/updated_prd.txt
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/task_011.txt
  .taskmaster/tasks/task_012.txt
  .taskmaster/tasks/task_013.txt
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_015.txt
  .taskmaster/tasks/task_016.txt
  .taskmaster/tasks/task_017.txt
  .taskmaster/tasks/task_018.txt
  .taskmaster/tasks/task_019.txt
  .taskmaster/tasks/task_020.txt
  .taskmaster/tasks/task_021.txt
  .taskmaster/tasks/task_022.txt
  .taskmaster/tasks/tasks.json
  .taskmaster/tasks/tasks.json.bak
  .taskmaster/tasks/tasks_backup_20250531_174735.json
  .taskmaster/templates/example_prd.txt
Labels: none

Update task 3
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/tasks.json
Labels: none

lint
  src/lib/supabase.ts
Labels: backend

lint
  .prettierignore
  .vscode/settings.json
  src/lib/supabase.ts
Labels: backend

Section 4.1 Setup Supabase Auth API Integration
  .taskmaster/.taskmaster/config.json
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/tasks.json
  docs/task-master/section-04.md
  src/domains/auth/services/auth.service.ts
Labels: documentation

pnpm install react-icons
  package.json
  pnpm-lock.yaml
Labels: config, dependencies

update directory structure, cursor rule
  .cursor/rules/file-location.mdc
  docs/architecture/directory-architecture.md
Labels: documentation

del: tailwind.config.js.backup
  tailwind.config.js.backup
Labels: config, ai

Del: unnecessary files
  src/app/signup/page.tsx
  src/components/auth/login-form/hooks/index.tsx
  src/components/auth/login-form/index.tsx
  src/components/layout/index.tsx
Labels: frontend

update mdc, doc
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/package-management.mdc
  .vscode/settings.json
  MEMO.md
  pnpm-lock.yaml
Labels: documentation, config, dependencies

login 画面の作成
  compose.yml
  docs/task-master/section-04.md
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/auth/magic-link-form/hooks/index.tsx
  src/components/auth/magic-link-form/index.tsx
  src/components/auth/sign-up-form/hooks/index.tsx
  src/components/auth/sign-up-form/index.tsx
  src/components/auth/social-login/hooks/index.tsx
  src/components/auth/social-login/index.tsx
  src/components/common/or-divider/index.tsx
  src/components/layout/default-footer/index.tsx
  src/components/layout/default-hader/index.tsx
  src/styles/global.css
  tailwind.config.ts
Labels: documentation, frontend, config, ai

.github/labeler.yml:

# Branch-based labels
hotfix:
  - head-branch: ["^hotfix-", "hotfix", "^hotfix/"]

refactor:
  - head-branch: ["^refactor-", "refactor", "^refactor/"]

feature:
  - head-branch: ["^feature-", "feature", "^feature/", "^feat/"]

bugfix:
  - head-branch: ["^bugfix-", "bugfix", "^bugfix/", "^fix/"]

# File-based labels
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - docs/**
          - README*
          - CHANGELOG*
          - TESTING.md

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - src/app/**
          - src/components/**
          - src/styles/**
          - "**/*.tsx"
          - "**/*.jsx"

backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/lib/**
          - src/providers/**
          - src/middleware.ts
          - src/utils/**

testing:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**
          - "**/*.test.*"
          - "**/*.spec.*"
          - vitest.config.*
          - jest.config.*
          - TESTING.md
          - coverage/**

config:
  - changed-files:
      - any-glob-to-any-file:
          - "*.config.*"
          - "*.json"
          - "*.yml"
          - "*.yaml"
          - .github/**
          - Dockerfile*
          - docker-compose*
          - compose.yml
          - .env*
          - .eslintrc*
          - .prettierrc*
          - .gitignore
          - .dockerignore

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - yarn.lock
          - package-lock.json

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**
          - "*.sh"

ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
          - .github/actions/**

taskmaster:
  - changed-files:
      - any-glob-to-any-file:
          - tasks/**
          - .taskmasterconfig

ai:
  - changed-files:
      - any-glob-to-any-file:
          - src/lib/ai/**
          - "**/*ai*"
          - "**/*openai*"
          - "**/*anthropic*"
