Repository yongwoon/nextjs-yongwoon-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, testing, config, dependencies, scripts, ci-cd, taskmaster, ai

.github/labeler.yml:

# Branch-based labels
hotfix:
  - head-branch: ["^hotfix-", "hotfix", "^hotfix/"]

refactor:
  - head-branch: ["^refactor-", "refactor", "^refactor/"]

feature:
  - head-branch: ["^feature-", "feature", "^feature/", "^feat/"]

bugfix:
  - head-branch: ["^bugfix-", "bugfix", "^bugfix/", "^fix/"]

# File-based labels
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - docs/**
          - README*
          - CHANGELOG*
          - TESTING.md

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - src/app/**
          - src/components/**
          - src/styles/**
          - "**/*.tsx"
          - "**/*.jsx"

backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/lib/**
          - src/providers/**
          - src/middleware.ts
          - src/utils/**

testing:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**
          - "**/*.test.*"
          - "**/*.spec.*"
          - vitest.config.*
          - jest.config.*
          - TESTING.md
          - coverage/**

config:
  - changed-files:
      - any-glob-to-any-file:
          - "*.config.*"
          - "*.json"
          - "*.yml"
          - "*.yaml"
          - .github/**
          - Dockerfile*
          - docker-compose*
          - compose.yml
          - .env*
          - .eslintrc*
          - .prettierrc*
          - .gitignore
          - .dockerignore

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - yarn.lock
          - package-lock.json

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**
          - "*.sh"

ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
          - .github/actions/**

taskmaster:
  - changed-files:
      - any-glob-to-any-file:
          - tasks/**
          - .taskmasterconfig

ai:
  - changed-files:
      - any-glob-to-any-file:
          - src/lib/ai/**
          - "**/*ai*"
          - "**/*openai*"
          - "**/*anthropic*"

Lint
  .github/workflows/ci.yml
  src/app/login/page.tsx
  src/components/auth/magic-link-form/hooks/index.tsx
  src/components/auth/magic-link-form/index.tsx
  src/domains/auth/entities/magicLink.ts
  tsconfig.json
Labels: frontend, config, ci-cd

update tsconfig
  tsconfig.json
Labels: config

Update tsconfig.json
  tsconfig.json
Labels: config

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: config, ci-cd

pnpm install next-intl
  package.json
  pnpm-lock.yaml
Labels: config, dependencies

Update task master
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/tasks.json
Labels: none

Setup i18n
  messages/en.d.json.ts
  messages/en.json
  messages/ja.json
  messages/ko.json
  next.config.mjs
  src/app/layout.tsx
  src/i18n/request.tsx
Labels: frontend, config

page 에 다국어 대응
  src/app/login/page.tsx
  src/app/page.tsx
  src/components/auth/magic-link-form/index.tsx
  src/components/auth/social-login/index.tsx
  src/components/layout/default-footer/index.tsx
  src/components/layout/default-hader/index.tsx
Labels: frontend

Update .prettierignore
  .prettierignore
Labels: none

fix: type error
  src/app/layout.tsx
Labels: frontend

4.3 login 후, user 가 email 에서 링크를 누르면, app 에서 인증처리하는 부분 implement (callback)
  src/app/auth/callback/hooks/index.tsx
  src/app/auth/callback/page.tsx
  src/app/login/hooks/index.tsx
  src/app/login/page.tsx
  src/components/auth/magic-link-form/index.tsx
  src/components/auth/social-login/hooks/index.tsx
  src/domains/auth/services/auth.service.ts
  src/lib/supabase.ts
  src/providers/auth-provider/auth-provider.client.ts
Labels: frontend, backend

update tasks
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/tasks.json
Labels: none

lint
  .prettierignore
  src/lib/supabase.ts
Labels: backend

Update auth-flow
  docs/architecture/auth-flow.md
  docs/setup/supabase-setup.md
Labels: documentation

email sent page
  messages/en.d.json.ts
  messages/en.json
  messages/ja.json
  messages/ko.json
  src/app/auth/email-sent/hooks/index.tsx
  src/app/auth/email-sent/page.tsx
  src/components/auth/magic-link-form/hooks/index.tsx
  src/domains/auth/services/auth.service.ts
Labels: frontend

lint
  src/app/auth/email-sent/hooks/index.tsx
Labels: frontend

fix: lint
  src/app/auth/email-sent/hooks/index.tsx
  src/components/auth/magic-link-form/hooks/index.tsx
Labels: frontend

Implement Token Storage and Rate Limiting
  src/domains/auth/entities/auth.types.ts
  src/domains/auth/entities/config.types.ts
  src/domains/auth/entities/error.types.ts
  src/domains/auth/entities/index.ts
  src/domains/auth/entities/magic-link.types.ts
  src/domains/auth/entities/magicLink.ts
  src/domains/auth/entities/rate-limit.types.ts
  src/domains/auth/entities/response.types.ts
  src/domains/auth/entities/security.types.ts
  src/domains/auth/services/auth-cleanup.service.ts
  src/domains/auth/services/auth-token.service.ts
  src/domains/auth/services/auth.service.ts
  src/domains/auth/services/index.ts
  src/domains/auth/services/rate-limit.service.ts
Labels: none

MOD: import path
  src/components/auth/magic-link-form/hooks/index.tsx
Labels: frontend

ADD: test code
  src/utils/auth-test.ts
Labels: backend

ADD: docs
  docs/architecture/domainLayer-token-storage-rate-limiting.md
Labels: documentation, ai

update task-master
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/tasks.json
Labels: none

ADD template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, config

lint
  src/domains/auth/services/auth-cleanup.service.ts
  src/domains/auth/services/auth-token.service.ts
  src/utils/auth-test.ts
Labels: backend

bugfix 01
  .cursor/rules/auth-domain.mdc
  src/domains/auth/services/auth.service.ts
Labels: ai

refactoring
  src/app/auth/email-sent/hooks/index.tsx
  src/components/auth/magic-link-form/hooks/index.tsx
  src/domains/auth/services/auth.service.ts
Labels: frontend

Create Custom Email Templates
  src/app/dev/email-template-preview/page.tsx
  src/domains/auth/templates/email-template-service.ts
  src/domains/auth/templates/index.ts
  src/domains/auth/templates/magic-link-template.ts
  src/domains/auth/templates/setup-guide.md
  src/domains/auth/templates/test-utils.ts
Labels: documentation, frontend, ai

Update Docs
  docs/guides/cursor-rules-guide.md
  docs/guides/dev-workflow-guide.md
  docs/guides/labeler-guide.md
  docs/guides/overview.md
  docs/guides/self-improvement-guide.md
  docs/guides/taskmaster-guide.md
  docs/project/init-project.md
Labels: documentation

Update task-master
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/tasks.json
Labels: none

Update docs
  docs/setup/supabase-setup.md
Labels: documentation

update template
  get-email-templates.ts
  src/domains/auth/templates/email-template-service.ts
  src/domains/auth/templates/magic-link-template.ts
  src/domains/auth/templates/setup-guide.md
Labels: documentation, ai

api 를 이용해서 magic link 발송, callback 처리하기
  src/app/api/auth/debug/route.ts
  src/app/api/auth/magic-link/route.ts
  src/app/auth/callback/hooks/index.tsx
  src/app/auth/callback/page.tsx
  src/app/auth/callback/route.ts
  src/app/auth/error/page.tsx
  src/components/auth/magic-link-form/hooks/index.tsx
  src/domains/auth/services/auth-client.service.ts
  src/domains/auth/services/auth.service.ts
  src/domains/auth/services/index.ts
  src/domains/auth/services/rate-limit.service.ts
  src/utils/supabase/constants.ts
Labels: frontend, backend

lint
  src/app/api/auth/debug/route.ts
  src/app/api/auth/magic-link/route.ts
  src/app/auth/callback/route.ts
  src/app/dev/email-template-preview/page.tsx
  src/domains/auth/services/auth-client.service.ts
  src/domains/auth/services/auth.service.ts
  src/domains/auth/services/rate-limit.service.ts
  src/domains/auth/templates/magic-link-template.ts
Labels: frontend

type-check
  src/domains/auth/templates/magic-link-template.ts
Labels: none

lint
  src/domains/auth/templates/magic-link-template.ts
Labels: none

Update docs
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/ui-logic-separation.mdc
  docs/architecture/ai-service-architecture.md
  docs/architecture/auth-flow.md
  docs/architecture/directory-architecture.md
  docs/architecture/domainLayer-token-storage-rate-limiting.md
  docs/curl-supabase-debug.md
  docs/github-actions/labeler-guide.md
  docs/guides/cursor-rules-guide.md
  docs/guides/dev-workflow-guide.md
  docs/guides/overview.md
  docs/guides/self-improvement-guide.md
  docs/guides/supabase-security-guide.md
  docs/guides/taskmaster-guide.md
  docs/images/page-designs/auth/01-anthropic-login.png
  docs/images/page-designs/auth/02-anthropic-email-format.png
  docs/images/page-designs/auth/03-01-anthropic-open-other-browers.png
  docs/images/page-designs/auth/03-anthropic-onboard.png
  docs/images/page-designs/auth/04-anthropic-plans.png
  docs/images/page-designs/auth/05-undestand-before-enter.png
  docs/images/page-designs/auth/06-enter-name.png
  docs/images/page-designs/auth/07-your-interest.png
  docs/images/page-designs/main/01-main-side-collapsed.png
  docs/images/page-designs/main/02-main-side-expanded.png
  docs/project/implementation-roadmap.md
  docs/project/init-project.md
  docs/project/installed-packages.md
  docs/project/taskmaster-ai.md
  docs/project/ubiquitous-language.md
  docs/setup/docker-setup.md
  docs/setup/environment-setup.md
  docs/setup/getting-started.md
  docs/setup/supabase-client-configutation.md
  docs/setup/supabase-setup.md
  docs/setup/table-design-specification.md
  docs/upgrade-history/PNPM_MIGRATION.md
  docs/upgrade-history/PRETTIER_SETUP.md
Labels: documentation, ai

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: config, ci-cd

pnpm add @fingerprintjs/fingerprintjs@^4.2
  package.json
  pnpm-lock.yaml
Labels: config, dependencies

Install and configure FingerprintJS library
  src/domains/auth/entities/security.types.ts
  src/domains/auth/services/fingerprint.service.ts
Labels: none

ADD: CLAUDE.md
  CLAUDE.md
Labels: documentation
